@import "tailwindcss";

:root {
    /* Light theme (default) */
    --overlay-color: 255, 255, 255; /* White for light mode */
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: var(--font-roboto-sans);
    --font-mono: var(--font-roboto-mono);
}

[data-theme="dark"] {
    --overlay-color: 0, 0, 0; /* Black for dark mode */
}

[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    background: var(--background);
    color: var(--foreground);
}
